.btn-outline-dark{
    color: #91573a;
    border-color: #91573a;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #91573a;
    border-color: #91573a;
}

.buttons-group{
    margin-bottom: 20px;
    border-bottom: 1px solid slategrey;
    padding-bottom: 20px;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  .container-main{
      padding-top: 60px;
  }

  .container-footer{
      background-color: #f8f9fa;
  }

  body{
      background-color: #fff;
  }