.btn-outline-dark{
    color: #91573a;
    border-color: #91573a;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #91573a;
    border-color: #91573a;
}

.buttons-group{
    margin-bottom: 20px;
    border-bottom: 1px solid slategrey;
    padding-bottom: 20px;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  .container-main{
      padding-top: 80px;
  }

  body{
      background-color: #fff;
  }
  
  .card{
	  margin-bottom:20px;
  }

  footer{
	  -webkit-box-shadow: 2px -12px 22px -20px rgba(0,0,0,0.75);
	 -moz-box-shadow: 2px -12px 22px -20px rgba(0,0,0,0.75);
	 box-shadow: 2px -12px 22px -20px rgba(0,0,0,0.75);
      background-color: #f8f9fa;
      padding: 0;
      margin: 0;
  }
  .search{
    border: 0;
    border-bottom: 1px solid gray;
    background-color: #f8f9fa;
  }
  svg{
      color: gray;
  }
  svg:hover{
      color: #5e5e5e;
  }