#!/bin/sh
# If you cloned this repo from git, you can copy this file to .git/hooks/post-merge to make the git commit version display at the bottom of the page work.
git rev-parse --short HEAD > commit.html
