.image-zoom:hover{
  transform: scale(1.03);
  -webkit-box-shadow: 10px 10px 91px -60px rgba(0,0,0,0.54);
  -moz-box-shadow: 10px 10px 91px -60px rgba(0,0,0,0.54);
  box-shadow: 10px 10px 91px -60px rgba(0,0,0,0.54);

  transition: all 0.2s ease;
}

.image-zoom{
  transition: all 0.2s ease;
}
