---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A little bit about me and my background."
  pubDate={new Date("Fri Nov 24 07:05:58 PM CST 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <section>
    <h2>Hey there, I'm Manuel! 👋</h2>
    <p>
      You can call me Manolo. I'm a **Full-Stack Developer** based in Mexico.
      I'm a software developer from Mexico. I'm passionate about technology and
      I love to learn new things.
    </p>
    <p>
      For the past 10 years, I've been diving deep into the world of web applications
      – designing, building, and getting them out into the wild.      
    </p>
    <p>
      I really enjoy working on the backend, especially using Elixir with Phoenix, and
      I also love crafting cool, dynamic frontends with Next.js. Basically, I like
      putting together the whole puzzle, from start to finish.
    </p>  
    <p>
      I started when I was 8 years old while trying to understand how video
      games and operating systems works. And that curiosity was huge, so I
      started learning about programming. I've always been curious about how tech works
      and I pick up new things pretty quickly.
    </p>
    <p>
      Then, as I grew up, I started creating websites with Django, Rails and
      Phoenix, as Backend, and React, Angular, NextJS and Svelte, as Frontend.
    </p>
    <p>
      I was also interested in developing mobile applications for Android using
      Kotlin and with Swift for iOS and macOS.
    </p>
    <p>
      I also teach programming courses in WPILib (Java) and Arduino. I focus on
      the FIRST Tech Challenge and the FIRST Robotics Competition.
    </p>
    <p>
      Finally, I use to be volunteer at FIRST, as FTA (FIRST Technical Advisor)
      at FTC and CSA (Control System Advisor) at FRC.
    </p>
  </section>
  <section>
    <h2>Education</h2>
    <p>
      I started programming by my own resources, such as watching YouTube
      videos, reading books, etc. That is why I want to be reciprocal with the
      society by creating programming courses for free.
    </p>
    <p>
      However, also I am looking for a major degree, so I'm currently studying
      Software Engineering at Tecmilenio University.
    </p>
    <p>
      Finally, I am currently in the process of obtaining CS50 certification
      from Harvard and Back-End Professional Certificate from Meta.
    </p>
  </section>
  <section>
    <h2>Work Experience</h2>
    <p>
      I started working professionaly as freelancer developing Minecraft mods on
      Fiverr.
    </p>
    <p>
      I continued working as a freelancer since 2021, with a new mission,
      developing websites and mobile applications for small businesses. Also, I
      have experience developing e-commerce websites with Shopify and
      WooCommerce.
    </p>
    <p>
      I also worked as a teacher since 2021, teaching Java programming courses
      focused on FIRST&reg robotics (WPILib).
    </p>
    <p>
      And I have worked as a web developer for 1 year, developing applications
      for the financial sector.
    </p>
    <p>
      I also worked as a software engineer for 1 year, developing web
      applications in a AI consulting company.
    </p>
    <p>
      Finally, I am currently working as a software developer at Metryka, an
      analytics company.
    </p>
  </section>
  <section>
    <h2>Skills</h2>
    <p>My current technical stack is Elixir, TypeScript and Java.</p>
    <p>
      I have been programming in Java for more than 8 years. I have used Spring,
      WPILib, LWJGL, and Android. Also, I have experience with Kotlin and Scala.
    </p>
    <p>
      In the case of TypeScript, I initially learned JavaScript, but I learned
      TypeScript to solve all JavaScript issues. I have used React, NextJS,
      Svelte, Angular, and a lot of JavaScript tools with TypeScript.
    </p>
    <p>
      And the last programming is Elixir. I am working with Elixir for a little
      time (less than one year, since early 2023), but I loved how it is
      programmed and I am continuously learning more about it.
    </p>
    <p>
      I also have experience with other programming languages, such as Python,
      Ruby, C, C++, C#, Swift, and Go.
    </p>
    <p>
      I have experience with relational databases, such as PostgreSQL, MySQL,
      and SQLite. Also, I have experience with non-relational databases, such as
      MongoDB and Redis.
    </p>
    <p>
      I have experience with cloud providers, such as AWS, GCP, and Azure. Also,
      I am a Linux user, so I have experience with Linux servers.
    </p>
    <p>
      Currently, I am learning about Rust, and I am interested in learning about
      Clojure.
    </p>
  </section>
</Layout>
