---
const { href, title } = Astro.props;
---

<div>
  <span class="text-blue">&lcub;</span>
  <a href={href} class="mx-2 text-green hover:opacity-80 transition duration-150">{title}</a>
  <span class="text-blue">&rcub;</span>
</div>
