---
const art = [
  '              *++*+===+**##%@@@                   ',
  '           %++=+**==-===+++#%%##***               ',
  '        +=====+=++------==+++*##*+++++            ',
  '       *========---:-----=-=====+==+==++          ',
  '      *===----:::::-::::::-::------:::-==         ',
  '     :::--::::::::----:::::::::.::::::::-+        ',
  '    +=:::::::--=+**#*+++=--::..:....:....:-       ',
  '    -:-:::=*##%%@@@@%%%%#*+=====--:::.....:-      ',
  '   -::-:--*%@@@@@@@@@%%%%%%%%%%%%##**=:..:-=      ',
  '   ::.:--=*@@@@@@@@@%%%%%%%%%%%%@@%%%#=::---      ',
  '  --::::-=#@@@@@@@@@@%%%%%%%%%%@@@@@%%+---=+      ',
  '  *=::::-*%@@@@@@@@@@%%%%%%%@@@@@@@@%%+::-*%      ',
  ' @*=-::.=%%@@@@@@@@%%%%%%%%%%@@@@@@@@@#:::-=      ',
  '@#+=---:#%*=---=++*#######%%%%%%%%%%%@%:.--=      ',
  '*+=--:::##+++=:.....::-++*+=-::...::-=#::==+*     ',
  '+=--::::---::........::--=--:.....:-=-=::--++*    ',
  '=--::....:::...... ...-++=:...........:..=:=++    ',
  '--::.....:-:::.....................::::...::--    ',
  ' =::...=.::.:..........*#=.........::::.....:     ',
  '  --...==..:.... . ...*%%%:..  .....:::....:      ',
  '    :..-#=.::.... ...*%%%%*..   ...:......:       ',
  '       =+#%%*--::::*#%@%%%#+-::..:--==..:         ',
  '        =+#%%%##****#%######****####+-            ',
  '        =+*#%%#######+====+*#######+-             ',
  '         -+**##+++*+====-=+****##*+-              ',
  '          --=++-::::::::::---:-++-::              ',
  '         -..:-==*##*+----=+**===:..:-             ',
  '      -:::..=---+*****+====+*+=--..::-:--         ',
  '  --::.......**-=++=-.:---===-+-.....:.:-.:-=-    ',
  '-:..:........-#%+:-=======-:-=..........:..:::::--',
  '...:.........=+%%%*=:.....::..............::::....',
  '..:..........-=*@@%%+. ..   ..............:.......',
  '::........... .:#%@%: .%@:   ............::.......',
  '::.... .........-#%+......    ..   ......::.......',
  ':. .........   ..:*:.. ........  .. .....::.......',
  ':.  ....        ..............    ....  ..........'
]
---

<div class={`text-gray-500 text-xs leading-none tracking-tighter min-w-[50ch]`}>
  {art.map((line, i) => (
    <span class="block typemea" style={`--chars: ${line.trimEnd().length}; --i: ${i};`}>
      {line}
    </span>
  ))}
</div>

<style>
  .typemea {
    width: 0;
    animation: typinga 0.3s steps(var(--chars)) forwards, blinka .25s step-end calc(var(--chars) * 0.1s) alternate;
    white-space: pre;
    overflow: hidden;
    border-right: 10px solid transparent;
    animation-delay: calc(var(--i) * 0.3s);
  }

  @keyframes typinga {
    0% { width: 0; }
    100% { width: calc(var(--chars) * 1ch); }
  }
      
  @keyframes blinka {
    50% { border-color: #f2d5cf;}
  }
</style>
