---
const { title } = Astro.props;
---

<section class="my-12">
  <h2 class="text-2xl font-bold text-green">
    <span class="mr-2">$</span><span class="text-rosewater">{title}</span>
  </h2>
  <div class="mt-4 text-white space-y-4">
    <slot/>
  </div>
</section>
