---
import Section from "./Section.astro"
---
<Section title="Who am I?">
  <p>
    Welcome to my live portfolio! Here, you'll find a collection of my projects and learn a bit about me.
  </p>
  <p>
    I'm a software developer from Mexico, passionate about technology and constantly seeking new knowledge. My journey began in childhood, driven by a deep curiosity about how video games and operating systems worked, which led me to start learning programming.
  </p>
  <p>
    As I grew, I began building websites using backend frameworks like <strong>Phoenix LiveView</strong>, <strong>Django</strong>, and <strong>Rails</strong>, complemented by frontend technologies such as <strong>React</strong>, <strong>Angular</strong>, <strong>Next.js</strong>, and <strong>Svelte</strong>. My interest extended to mobile development, creating applications for Android with <strong>Kotlin</strong> and for iOS/macOS using <strong>Swift</strong>.
  </p>
  <p>
    Additionally, I teach Java programming courses with a focus on robotics. I'm also very passionate about fintech topics and love experimenting with AI and data science. Currently, I'm diving into complex software architectures.
  </p>
</Section>

