---
import Section from "./Section.astro"
---
<Section title="Work Experience">
    <ul class="flex flex-col gap-y-8">
        <li class="leading-relaxed">
            <div class="flex items-center gap-x-2 mb-1">
                <h3 class="text-lg font-semibold">Software Developer - Vordutec</h3>
            </div>
            <p class="text-sm text-zinc-700 dark:text-zinc-400">Currently developing software solutions for insurance and finance companies.</p>
        </li>
         <li class="leading-relaxed">
            <div class="flex items-center gap-x-2 mb-1">
                <h3 class="text-lg font-semibold">Software Engineer - AI Consulting Firm</h3>
            </div>
            <p class="text-sm text-zinc-700 dark:text-zinc-400">Developed web applications for 1 year in an AI-focused consulting environment.</p>
        </li>
         <li class="leading-relaxed">
            <div class="flex items-center gap-x-2 mb-1">
                <h3 class="text-lg font-semibold">Web Developer - Financial Sector</h3>
            </div>
            <p class="text-sm text-zinc-700 dark:text-zinc-400">Built financial applications during a 1-year tenure as a web developer.</p>
        </li>
         <li class="leading-relaxed">
            <div class="flex items-center gap-x-2 mb-1">
                 <h3 class="text-lg font-semibold">Java Instructor - LearnRobotics</h3>
            </div>
            <p class="text-sm text-zinc-700 dark:text-zinc-400">Since 2021, teaching Java programming focused on FIRST® robotics (WPILib) at my non-profit.</p>
        </li>
        <li class="leading-relaxed">
             <div class="flex items-center gap-x-2 mb-1">
                 <h3 class="text-lg font-semibold">Freelance Developer</h3>
            </div>
             <p class="text-sm text-zinc-700 dark:text-zinc-400">Since 2021, developing websites and mobile apps for small businesses, including e-commerce sites using Shopify & WooCommerce. Previously freelanced developing Minecraft mods on Fiverr.</p>
        </li>
    </ul>
</Section>

