---
import Section from "./Section.astro"
import Job from "./Job.astro"

const jobs = [
    {
        title: "Junior Software Engineer - Vordutec",
        timeline: "Dec 2023 - Present",
        summary: "Currently building and maintaining backend services (Elixir/Phoenix) for insurance products, handling thousands of quotations monthly. Leading a small backend team in feature development and database schema design for Oracle databases. Integrated insurance APIs and created policy quoting calculators, significantly reducing client processing time. Also optimized queries with Redis caching and deployed apps using Docker and Kubernetes for high uptime.",
    },
    {
        title: "Robotics Instructor - IDR",
        timeline: "Jan 2024 - Dec 2024",
        summary: "Teaching high schoolers Java and C++ for FIRST Robotics Competition (FRC) and Arduino projects. Planned comprehensive lessons covering core programming concepts and robotics. Mentored student teams that advanced to regional competitions, including international championships. Love explaining complex programming concepts to students with no prior experience.",
    },
    {
      title: "Founder - Learn Robotics",
      timeline: "March 2022 - Present",
      summary: "Founded Learning FIRST Robotics (a.k.a. Learn Robotics), a non-profit organization and community focused on teaching STEM knowledge for FIRST Tech Challenge and FIRST Robotics Competition online, primarily for students in Latam. Grew the community to include thousands of students globally."
    },
    {
        title: "Web & Mobile Developer - Freelance",
        timeline: "2021 - Present",
        summary: "Been freelancing since 2021, whipping up websites and mobile apps for small businesses. Also tackled e-commerce projects using Shopify and WooCommerce.",
    },
    {
        title: "Junior Software Engineer - Kogni Studio",
        timeline: "Apr 2023 - Nov 2023",
        summary: "Helped build their corporate website using Phoenix (Elixir) for the backend and Sveltekit/Tailwind for the frontend. Integrated OpenAI and Meta APIs in Elixir to create AI-powered chatbots, significantly improving user engagement. Built key user-facing features for client portals and worked with cloud services like AWS and Fly.io. Also handled Stripe and Shopify API integrations.",
    },
    {
        title: "Web Developer Intern - Hola Cash",
        timeline: "May 2022 - Feb 2023",
        summary: "Built multiple e-commerce platforms end-to-end with Next.js, TailwindCSS, and Firebase, helping clients grow their revenue significantly. Implemented internal APIs using Python to optimize development processes. Maintained the corporate website using Next.js, Firebase and AWS Amplify, attracting thousands of clients monthly. Also collaborated on deployments and infrastructure management.",
    },
    {
        title: "Minecraft Mod Developer - Freelance ",
        timeline: "2020 - 2021",
        summary: "This is where it all started professionally! I dove into freelancing on Fiverr, creating custom Minecraft mods, server plugins, and clients.",
    }
]
---

<Section title="Work Experience" id="work">
  <ul>
    {jobs.map(job => (
      <Job title={job.title} timeline={job.timeline} summary={job.summary} />
    ))}
  </ul>
</Section>
